<div class="container-fluid align-content-center">
    <div class="container">
        <div class="row">
            <div class="but col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h3>Contáctanos</h3>
                <input type="text" placeholder="Nombre">
                <input type="email" name="" id="" placeholder="correo electrónio">
                <textarea name="" id="" cols="30" rows="10">Mensaje</textarea> 
                <button type="button" class="btn btn-primary ml-auto mr-auto">Enviar</button>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h3>Mapa de página</h3>
                <i>Inicio</i>
                <i>Acercade nosotros</i>
                <i>Funcionalidades</i>
                <i>Contáctanos</i>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <img src="../assets/img/LogoTipo Para contac us.png" alt="" style="width:12em">
                
                    <span>
                        <img src="../assets/img/Gmail.png" alt="">
                        zonamedica@gmail.com
                    </span>
                    <span>
                        <img src="../assets/img/Telegram App.png" alt="">zonamedica504
                    </span>
                    <span>
                        <img src="../assets/img/WhatsApp.png" alt="">+504 99887766
                    </span>
                    <span>
                        <img src="../assets/img/Instagram.png" alt="">@zonamedica504
                    </span>
                    <span>
                        <img src="../assets/img/Facebook.png" alt="">@zonamedica504
                    </span>
                    <span>
                        <img src="../assets/img/YouTube.png" alt="">@zonamedica504
                    </span>
                
            </div>
        </div>
    </div>
</div>