<div class="container-fluid fondo">
    <h2>
        Ponte en contacto
    </h2>
    <div class="container">
        <div class="row">
            <div class="col col-8 ">
                <div class="container-fluid bloque">
                    <div class="row">
                        <div class="col col-6">
                            <img src="../assets/img/LogoTipo Para contac us.png" style="width:15em"alt="">
                            <span>
                                <img src="../assets/img/Gmail.png" alt="">
                                zonamedica@gmail.com
                            </span>
                            <span>
                                <img src="../assets/img/Telegram App.png" alt="">zonamedica504
                            </span>
                            <span>
                                <img src="../assets/img/WhatsApp.png" alt="">+504 99887766
                            </span>
                            <span>
                                <img src="../assets/img/Instagram.png" alt="">@zonamedica504
                            </span>
                            <span>
                                <img src="../assets/img/Facebook.png" alt="">@zonamedica504
                            </span>
                            <span>
                                <img src="../assets/img/YouTube.png" alt="">@zonamedica504
                            </span>
                        </div>
                        <div class="col col-6 " style="text-align: center;">
                            <h4>Contáctanos</h4>
                            <input type="text" placeholder="Nombre">
                            <input type="email" name="" id="" placeholder="correo electrónio">
                            <textarea name="" id="" cols="30" rows="10">Mensaje</textarea> 
                            <button type="button" class="btn btn-primary ml-auto mr-auto">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <img src="../assets/img/image 1.png" class="w-100">
                <div class="w-100 bloque">
                    <p>
                        Col Las Colinas, tercera entrada, casa N° 3212, Tegucigalpa, M.D.C. Francisco
                        Morazán, Honduras C.A.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

