<!------Landing page---------------->
<!--
<app-navbar></app-navbar>
<app-bienvenida></app-bienvenida>
<app-acerca-de-nosotros></app-acerca-de-nosotros>
<app-contactanos></app-contactanos>
<app-footer></app-footer>
-->

<!-------Formulario de registro de paciente----->
<!--
<app-navbar></app-navbar>
<app-formulario-registro-usuario></app-formulario-registro-usuario>
<app-footer></app-footer>
-->

<!------Página de funcionalidades----->
<!--
<app-navbar></app-navbar>
<app-carousel-funcionalidades></app-carousel-funcionalidades>
<app-footer></app-footer>
-->

<!-------Página contáctanos------>
<app-navbar></app-navbar>
<app-contactanos-page></app-contactanos-page>
<app-footer></app-footer>
