<app-navbar></app-navbar>
<!--Parte de la bienvenida-->
<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1 class="header_z_m">ZONA MÉDICA</h1>
      <p class="z_m">
        Zona médica es una aplicación que simplifica la comunicación entre el
        personal de salud y el paciente. Dando la oportunidad al personal médico
        de virtualizar su cartera de servicios. Y para los pacientes la
        comodidad de agendar sus servicios desde sus dispositivos.
      </p>
      <img src="../assets/img/cuate.png" alt="" />
    </div>
    <div id="loginPaciente" class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

      <!--

      <div class="bienvenido_de_nuevo">
        <hr>
        <div class="row">
          <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="contenedor">
              <img src="../assets/img/loginPaciente.svg" alt="" style="width: 22em" />
              <div class="centradoP">Paciente</div>
              </div>
<div class="row">
          <div class="col">
            <div>
              <div class="card cardP" style="width: 100%!important;">
                <div class="card-body">
                  <form [formGroup]="formLogin">
                    <mat-form-field class="example-full-width input" appearance="outline">
                      <mat-label>Correo Electrónico</mat-label>
                      <input matInput type="email" placeholder="Ejem. sofia@gmail.com" formControlName="email"
                        style="width: 26em;" class="form-control" [ngClass]="{ 'is-invalid':form.email.errors }"
                        required />
                      <div *ngIf="form.email.errors" class="invalid-feedback">
                        <mat-error *ngIf="form.email.errors.required">El correo no puede estar en blanco.</mat-error>

                        <div *ngIf="form.email.errors.email">Ingrese un correo válido.</div>
                      </div>
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field hintLabel="La contraseña debe tener 8 caracteres o más"
                      class="example-full-width input" appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input matInput placeholder="Escriba su contraseña" type="password" style="width: 29em;"
                        formControlName="password" class="form-control" value=""
                        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" minlength="8"
                        [type]="hideP ? 'password' : 'text'">
                      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">Escriba la contraseña</div>
                        <div *ngIf="form.password.errors.minlength">La contraseña debe tener 8 caracteres o más.
                        </div>
                      </div>
                      <mat-icon mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'"
                        style="cursor: pointer;" [attr.aria-pressed]="hideP">{{hideP ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                    </mat-form-field>
                    <a href="#" style="margin-top: 5px" class="olvidar" style="color: black;">¿Olvidaste la
                      contraseña?</a>
                    <button mat-raised-button style="margin-top: 10px; margin-right: 5px" color="primary" type="button"
                      [disabled]=formLogin.invalid (click)="logPaciente()">
                      Iniciar Sesión como Paciente
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
        <hr />
        <button mat-raised-button style="margin-top: 10px; width: 100%!important;" color="primary" class="registrar" (click)="open(content)">
          Registrate
        </button>
      </div>-->

      <div class="vl">

        <div fxLayoutAlign="center center">
        <h2><strong>¡Bienvenido de nuevo!</strong></h2>
        </div>
          <img src="../assets/img/undraw_Hello_re_3evm 1.png" alt="" />
          <hr>
          <form [formGroup]="formLogin">
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email" placeholder="Ejem. sofia@gmail.com" formControlName="email"
                style="width: 33em;" class="form-control" [ngClass]="{ 'is-invalid':form.email.errors }"
                required />
              <div *ngIf="form.email.errors" class="invalid-feedback">
                <mat-error *ngIf="form.email.errors.required">El correo no puede estar en blanco.</mat-error>

                <div *ngIf="form.email.errors.email">Ingrese un correo válido.</div>
              </div>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field hintLabel="La contraseña debe tener 8 caracteres o más"
              class="example-full-width input" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Escriba su contraseña" type="password" style="width: 33em;"
                formControlName="password" class="form-control" value=""
                [ngClass]="{ 'is-invalid': submitted && form.password.errors }" minlength="8"
                [type]="hideP ? 'password' : 'text'">
              <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Escriba la contraseña</div>
                <div *ngIf="form.password.errors.minlength">La contraseña debe tener 8 caracteres o más.
                </div>
              </div>
              <mat-icon mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'"
                style="cursor: pointer;" [attr.aria-pressed]="hideP">{{hideP ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>
            <a href="#" style="margin-top: 5px" class="olvidar" style="color: black;">¿Olvidaste la
              contraseña?</a>
            <button mat-raised-button style="margin-top: 10px; margin-right: 5px" color="primary" type="button"
              [disabled]=formLogin.invalid (click)="logPaciente()">
              Iniciar Sesión como Paciente
            </button>
          </form>
          <hr />
          <span fxLayoutAlign="center center"><a routerLink="/doctor/login-doctor">Iniciar Sesión como Doctor.</a></span>
        <button mat-raised-button style="margin-top: 10px; width: 100%!important;" color="primary" class="registrar" (click)="open(content)">
          Registrate
        </button>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col col-12 flecha ml-auto mr-auto align-content-center" style="align-items: center"></div>
  </div>

<app-carousel-funcionalidades></app-carousel-funcionalidades>
<app-acerca-de-nosotros></app-acerca-de-nosotros>

<app-contactanos></app-contactanos>

<app-footer></app-footer>

<!--MODALES-->
<ng-template #content let-modal>
  <div class="modal-header  align-items-center align-content-center" style="text-align: center">
    <h2 class="modal-title" id="modal-basic-title" style="text-align: center !important; font-weight: 100">
      Escoje para quien crearás la cuenta
      <h5>Haz click sobre la imagen que desees.</h5>
    </h2>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <a routerLink="/user/registrar-doctor" class="hover">
              <img src="../assets/img/modalD.png" alt="" style="width: 17em; height: 18em" />
            </a>
            <h3 style="text-align: center">Doctor</h3>
          </div>
          <div class="col-6">
            <a routerLink="/user/registrar-paciente" class="hover">
              <!--<a href="/api/register" class="hover">-->
              <!--Por si no funciona-->
              <img src="../assets/img/modalP.png" alt="" style="width: 16em; height: 17em" />
            </a>
            <h3 style="text-align: center">Paciente</h3>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!--REGISTRO DE PACIENTES-->

<ng-template #registroPaciente let-c="close" let-d="dismiss">
  <div class="modal-header" style="justify-content: center; align-items: center;">
    <h4 class="modal-title" id="modal-basic-title"><strong>REGISTRO DE PACIENTE</strong></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reactiveForm" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Primer Nombre</mat-label>
              <input matInput placeholder="Ingresa tu primer nombre" type="text" name="firstName"
                formControlName="firstName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.firstName.errors }" required>
              <div *ngIf="submittedPaciente && formularioPaciente.firstName.errors" class="invalid-feedback">
                <div *ngIf="formularioPaciente.firstName.errors.required">Debe escribir el primer nombre.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Segundo Nombre</mat-label>
              <input matInput placeholder="Ingresa tu segundo nombre" formControlName="secondName" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Primer Apellido</mat-label>
              <input matInput placeholder="Ingresa tu primer apellido" type="text" name="firstLastName"
                formControlName="firstLastName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.firstLastName.errors }"
                required /><br>
              <div *ngIf="submittedPaciente && formularioPaciente.firstLastName.errors" class="invalid-feedback">
                <div *ngIf="formularioPaciente.firstLastName.errors.required">Debe escribir el primer apellido.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Segundo Apellido</mat-label>
              <input matInput placeholder="Ingresa tu segundo apellido" type="text" name="secondLastName"
                formControlName="secondLastName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.secondLastName.errors }"
                required /><br>
              <div *ngIf="submittedPaciente && formularioPaciente.secondLastName.errors" class="invalid-feedback">
                <div *ngIf="formularioPaciente.secondLastName.errors.required">Debe escribir el segundo apellido.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>

            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field hintLabel="La identidad debe tener 13 caracteres." class="example-full-width"
        appearance="outline">
        <mat-label>Identidad</mat-label>
        <input matInput placeholder="Ingresa tu identidad" type="text" name="hn_id" maxlength="13"
          formControlName="hn_id" [ngClass]="{ 'is-invalid':formularioPaciente.hn_id.errors }" required /><br>
        <div *ngIf="formularioPaciente.hn_id.errors" class="invalid-feedback">
          <div *ngIf="formularioPaciente.hn_id.errors.minlength">La identidad debe tener 13 caracteres.</div>
          <div *ngIf="formularioPaciente.hn_id.errors.maxlength">La identidad no debe tener mas de 13 caracteres.</div>
        </div>
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" placeholder="Ejem. sofia@gmail.com" formControlName="emailPaciente" style="width: 28em;"
          class="form-control" [ngClass]="{ 'is-invalid':formularioPaciente.emailPaciente.errors }" required />
        <div *ngIf="formularioPaciente.emailPaciente.errors" class="invalid-feedback">
          <mat-error *ngIf="formularioPaciente.emailPaciente.errors.required">El correo no puede estar en blanco.
          </mat-error>

          <div *ngIf="formularioPaciente.emailPaciente.errors.email">Ingrese un correo válido.</div>
        </div>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field hintLabel="Minimo 8 caracteres o más" class="example-full-width input"
              appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Escriba su contraseña" type="password" style="width: 29em;"
                formControlName="passwordPaciente" class="form-control" value=""
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.passwordPacienten.errors }" minlength="8"
                required [type]="hide ? 'password' : 'text'">
              <div *ngIf="submittedPaciente && formularioPaciente.passwordPaciente.errors" class="invalid-feedback">
                <div *ngIf="formularioPaciente.passwordPaciente.errors.required">Escriba la contraseña</div>
                <div *ngIf="formularioPaciente.passwordPaciente.errors.minlength">Minimo 8 caracteres o más.
                </div>
              </div>
              <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                style="cursor: pointer;" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field hintLabel="Minimo 8 caracteres o más" class="example-full-width input"
              appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input matInput placeholder="Escriba su contraseña" type="password" style="width: 27em;"
                formControlName="confirmPasswordPaciente" class="form-control" value=""
                [ngClass]="{ 'is-invalid':formularioPaciente.confirmPasswordPaciente.errors }" minlength="8" required
                [type]="hideC ? 'password' : 'text'">
              <div *ngIf="formularioPaciente.confirmPasswordPaciente.errors" class="invalid-feedback">
                <div *ngIf="formularioPaciente.confirmPasswordPaciente.errors.required">Debe confirmar la contraseña</div>
                <div *ngIf="formularioPaciente.confirmPasswordPaciente.errors.mustMatch">Las contraseñas deben coincidir</div>
              </div>
              <mat-icon mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'"
                style="cursor: pointer;" [attr.aria-pressed]="hideC">{{hideC ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Departamento</mat-label>
        <select matNativeControl required formControlName="department">
          <option value="Francisco Morazan">Francisco Morazán</option>
          <option value="Olancho">Olancho</option>
          <option value="La Paz">La Paz</option>
        </select>
      </mat-form-field>


      <div class="
          col col-12 col-xs-12 col-sm-12
          align-items-center align-content-center
        " style="margin-top: 2em;">
        <mat-checkbox class="example-margin" name="terminos"
          [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.terminos.errors }"
          formControlName="terminos" required>Acepto los
          <a (click)="open(terminos)"><strong>Términos y Condiciones de Uso</strong></a><br>
          <div *ngIf="submittedPaciente && formularioPaciente.terminos.errors" class="invalid-feedback">
            <div *ngIf="formularioPaciente.terminos.errors.required">Debe aceptar los terminos.</div>
          </div>
        </mat-checkbox>

      </div>
      <div class="
      col col-12 col-xs-12 col-sm-12
      align-items-center align-content-center
    ">
        <mat-checkbox class="example-margin" name="politicas"
          [ngClass]="{ 'is-invalid': submittedPaciente && formularioPaciente.politicas.errors }"
          formControlName="politicas" required>Acepto las
          <a (click)="open(politicas)"><strong>Politicas</strong></a><br>
          <div *ngIf="submittedPaciente && formularioPaciente.politicas.errors" class="invalid-feedback">
            <div *ngIf="formularioPaciente.politicas.errors.required">Debe aceptar las politicas.</div>
          </div>
        </mat-checkbox>
      </div>
      <div class="col col-12 align-content-center">
        <button id="boton" mat-raised-button color="primary" type="button" [disabled]=reactiveForm.invalid (click)="registrarPaciente()">
          <mat-icon>send</mat-icon> Registrarme
        </button>
      </div>
    </form>
  </div>

</ng-template>

<!--FIN REGISTRO DE PACIENTES-->


<!--INICIO REGISTRO DE DOCTOR-->
<ng-template #registroDoctor let-c="close" let-d="dismiss">
  <div class="modal-header" style="justify-content: center; align-items: center;">
    <h4 class="modal-title" id="modal-basic-title"><strong>REGISTRO DE DOCTOR</strong></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Long Last Name That Will Be Truncated</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Long Last Name That Will Be Truncated</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="close" (click)="d('Cross click')">Cerrar</button>
    <a mat-raised-button routerLink="/login" color="primary" target="_blank">Agendar Cita</a>
  </div>
</ng-template>


<!--MODALES TERMINOS Y CONDICIONES-->
<ng-template #terminos let-modal>
  <div class="modal-header  align-items-center align-content-center" style="text-align: center">
    <h2 class="modal-title" id="modal-basic-title" style="text-align: center !important; font-weight: 100">
      <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
    </h2>

    <mat-icon matSuffix style="cursor: pointer;" aria-label="Close" (click)="modal.dismiss('Cross click')">close
    </mat-icon>
    <!--
    <button type="button" class="close close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  -->
  </div>
  <div class="modal-body">
    <p>&nbsp;</p>
    <p><strong>INFORMACIÓN RELEVANTE</strong></p>
    <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los
      siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra
      de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente
      documento. Todas los productos &nbsp;que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas,
      enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y
      Condiciones.
  </div>
</ng-template>

<!--FIN MODAL TERMINOS Y CONDICIONES-->

<!--INICIO MODAL DE POLITICAS-->
<ng-template #politicas let-modal>
  <div class="modal-header  align-items-center align-content-center" style="text-align: center">
    <h2 class="modal-title" id="modal-basic-title" style="text-align: center !important; font-weight: 100">
      <h2 style="text-align: center;"><strong>Politicas</strong></h2>
    </h2>

    <mat-icon matSuffix style="cursor: pointer;" aria-label="Close" (click)="modal.dismiss('Cross click')">close
    </mat-icon>
  </div>
  <div class="modal-body">
    <p><strong>USO NO AUTORIZADO</strong></p>
    <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no
      puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y
      ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
    <p><strong>PROPIEDAD</strong></p>
    <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin
      modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se
      especifique lo contrario, nuestros productos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o
      implícita. En ningún esta compañía será &nbsp;responsables de ningún daño incluyendo, pero no limitado a, daños
      directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la
      imposibilidad de utilizar nuestros productos.</p>
    <p><strong>POLÍTICA DE REEMBOLSO Y GARANTÍA</strong></p>
    <p>En el caso de productos que sean&nbsp; mercancías irrevocables no-tangibles, no realizamos reembolsos después de
      que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. &nbsp;Le pedimos que lea
      cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta
      al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será
      especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará
      efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso
      indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones
      normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto
      incluye:</p>
    <p>– De acuerdo a las especificaciones técnicas indicadas para cada producto.<br>– En condiciones ambientales acorde
      con las especificaciones indicadas por el fabricante.<br>– En uso específico para la función con que fue diseñado
      de fábrica.<br>– En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.
    </p>
    <p><strong>COMPROBACIÓN ANTIFRAUDE</strong></p>
    <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más
      tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
    <p><strong>PRIVACIDAD</strong></p>
    <p>Este www.zonamedica.com garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos
      ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros,
      salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.</p>
    <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al
      momento de crear su cuenta.</p>
    <p>Zona Medica reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
  </div>
</ng-template>

<!--FIN MODAL POLITICAS-->

<pre>{{ closeResult }}</pre>
