<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h1 class="header_z_m">
                ZONA MÉDICA
            </h1>
            <p class="z_m">Zona médica es una aplicación que simplifica la comunicación entre el personal de salud y el paciente. Dando la oportunidad al personal médico de virtualizar su cartera de servicios. Y para los pacientes la comodidad de agendar sus servicios desde sus dispositivos.</p>
            <img src="../assets/img/cuate.png" alt="">
        </div>
        <div class=" col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="bienvenido_de_nuevo">
                <h2>¡Bienvenido de nuevo!</h2>
                <img src="../assets/img/undraw_Hello_re_3evm 1.png" alt="">
                <input type="email" name="" id="" placeholder="ingrese su correo electrónico">
                <input type="password" name="" id="" placeholder="ingrese su contraseña">
                <p class="olvidar">¿Se te olvidó la contraseña?</p>
                <button class="sesion">Iniciar sesion</button>
                <button class="sesion">Crear cuenta</button>
                 <img src="../assets/img/ciudad.png" alt="" style="width:18em">
            </div>
            
    
        </div>
    </div>
    <div class="row">
        <div class="col col-12 flecha ml-auto mr-auto align-content-center" style="align-items: center;">
            
                <i class="fas fa-angle-double-down"></i>
            
            
        </div>
    </div>

</div>

