<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
<app-sidenav-paciente (sidenavClose)="sidenav.close()"></app-sidenav-paciente>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar-usuario (sidenavToggle)="sidenav.toggle()"></app-navbar-usuario>

    <section>
      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores" ><img src=".../../../../../assets/img/equipo_medico.png"  alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores"><img src=".../../../../../assets/img/Medicina General.jpg" alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores"><img src=".../../../../../assets/img/Odontologia.png"  alt=""></a>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores"><img src=".../../../../../assets/img/Especialidad.jpg"  alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores"><img src=".../../../../../assets/img/Labs.png"  alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a routerLink="/doctores"><img src=".../../../../../assets/img/Nutri.jpg"  alt=""></a>
        </div>
      </div>

  </section>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--Por si vamos a agregar los botones-->
<!--
     <div class="centrado">
  <button mat-raised-button style="margin-top: 10px; margin-right: 5px" color="primary"
                      (click)="sweetAlertSuccess()">
                      Odontologia
                    </button></div>
-->

<!--
<section>
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/equipo_medico.png" alt=""></a>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/Medicina General.jpg" alt=""></a>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/Odontologia.png"  alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/equipo_medico.png" alt=""></a>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/Labs.png" alt=""></a>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
        <a href=""><img src=".../../../../../assets/img/Nutri.jpg"  alt=""></a>
      </div>
    </div>

</section>
-->


<!--Las imagenes en el componente-->
<!--
<mat-sidenav-container color="primary">
  <mat-sidenav #sidenav="matSidenav">

<img class="avatar mat-elevation-z4" src="../../../assets/img/profile-pic.jpg" alt="">
<h4 class="name">Sofia Videa</h4>
<p class="designation">Paciente</p>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
      <mat-icon class="iconos">home</mat-icon>
      <span>Inicio</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="iconos">event</mat-icon>
      <span>Calendario</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="iconos">medication</mat-icon>
      <span>Doctores</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon class="iconos">help</mat-icon>
      <span>Ayuda</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>


    <div class="content mat-elevation-z4">
      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/equipo_medico.png" alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/Medicina General.jpg" alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/Odontologia.png"  alt=""></a>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/Especialidad.jpg" alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/Labs.png" alt=""></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 columna">
          <a href=""><img src=".../../../../../assets/img/Nutri.jpg"  alt=""></a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
-->

