<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><img src="../assets/img/up (9).svg" style="width:50px; height: 50px;" routerLink="/login"></span>
  <a mat-button>Zona Medica</a>
  <div class="spacer"></div>
</mat-toolbar>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/login-doctor.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4" style="justify-items: center; justify-content: center; align-items: center;">
              <h2><strong>Iniciar Sesión como Doctor</strong></h2>
              <p class="mb-4">Ingresa tus datos para iniciar Sesion</p>
            </div>
            <form [formGroup]="formLoginDoctor">

              <mat-form-field class="example-full-width input" style="width: 28em;"  appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" placeholder="Ejem. sofia@gmail.com" formControlName="email" style="width: 26em;" class="form-control"
                [ngClass]="{ 'is-invalid':formDoctor.email.errors }" required/>
                <div *ngIf="formDoctor.email.errors" class="invalid-feedback">
                  <div *ngIf="formDoctor.email.errors.required">El correo no puede estar en blanco.</div>
                  <!--<div *ngIf="f.email.errors.required">Escriba un email Electrónico</div>-->
                  <div *ngIf="formDoctor.email.errors.email">Ingrese un correo válido.</div>
                </div>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

            <mat-form-field hintLabel="La contraseña debe tener 8 caracteres o más" class="example-full-width input" style="width: 28em;" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Escriba su contraseña" type="password" style="width: 29em;" formControlName="password" class="form-control" value=""
              [ngClass]="{ 'is-invalid': submitted && formDoctor.password.errors }" minlength="8" [type]="hideA ? 'password' : 'text'">
              <div *ngIf="submitted && formDoctor.password.errors" class="invalid-feedback">
                <div *ngIf="formDoctor.password.errors.required">Escriba la contraseña</div>
                <div *ngIf="formDoctor.password.errors.minlength">La contraseña debe tener 8 caracteres o más.</div>
              </div>
                <mat-icon mat-icon-button matSuffix (click)="hideA = !hideA" [attr.aria-label]="'Hide password'" style="cursor: pointer;" [attr.aria-pressed]="hideA">{{hideA ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>
            <a (click)="olvidoContra()" style="margin-top: 5px; cursor: pointer;" style="color: rgb(56, 40, 145);">¿Olvidaste la
              contraseña?</a><br><br>
            <button mat-raised-button style="margin-top: 10px; margin-right: 5px; width: 15em;" color="primary" type="button" [disabled]=formLoginDoctor.invalid (click)="logDoctor()">
              Iniciar Sesión
            </button>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
