<mat-toolbar color="primary" class="mat-elevation-z8">

  <span><img src="../assets/img/up (9).svg" style="width:50px; height: 50px;" routerLink="/login"></span>

   <div class="spacer"></div>

   <button mat-button class="menu-buttons" routerLink="/login">
    <mat-icon class="iconos">home</mat-icon>
    <span>Inicio</span>
  </button>
  <button mat-button class="menu-buttons" href="#acerca-nosotros">
    <mat-icon class="iconos">timeline</mat-icon>
    <span>Acerca de Nosotros</span>
  </button>

  <button mat-button class="menu-buttons"><a href="#funcionalidades"></a>
    <mat-icon class="iconos">accessibility</mat-icon>
    <span>Funcionalidades</span>
  </button>

  <button mat-button class="menu-buttons" routerLink="/contactanos">
    <mat-icon class="iconos">contact_support</mat-icon>
    <span>Contáctanos</span>
  </button>

  <!--<a mat-button routerLink="/">Sofia Videa</a>
  -->
</mat-toolbar>



<!--

<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light" style="position: sticky !important; left: 0; top: 0; right: 0;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="flex:auto">
        <a class="navbar-brand" href="#"><img src="../assets/img/up (9).svg" style="width:80px;"></a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" routerLink="/login"><i class="fas fa-home"></i> Inicio<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#acerca-nosotros"><i class="fas fa-exclamation-circle"></i> Acerca de nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#funcionalidades"><i class="fas fa-exclamation-circle"></i> Funcionalidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactanos"><i class="fas fa-exclamation-circle"></i> Contactanos</a>
            </li>
        </ul>
    </div>
</nav>
-->
<div class="main">

</div>

