<app-navbar-admin></app-navbar-admin>

<div fxLayoutAlign="center center" class="mt-4">
  <span>
    <h1><strong>Listado de Doctores Registrados</strong></h1>
  </span>
</div>

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex=40%>
    <input matInput type="text" (keyup)="hacerFiltro($any($event.target).value)"
      placeholder="Ingrese lo que desea buscar">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Primer Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstLastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstLastName}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="hn_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Identidad </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hn_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-slide-toggle></mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="desactivar">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Aceptacion </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-slide-toggle></mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editar" fxLay>
    <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon>edit</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="archivo" fxLay>
    <mat-header-cell *matHeaderCellDef mat-sort-header> Archivo Solicitud </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon>file_copy</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="desplegarColumnas"></mat-header-row>
  <mat-row *matRowDef="let row, columns: desplegarColumnas"></mat-row>

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20,50]"></mat-paginator>

<!--Es un boton flotante para agregar Usuarios desde el admin-->
<button mat-fab id="boton-agregar" (click)="open(registroDoctor)" color="accent">
  <mat-icon>add</mat-icon>
</button>

<!--MODALESSS-->

<!--MODAL PARA REGISTRAR Doctor-->
<ng-template #registroDoctor let-c="close" let-d="dismiss">
  <div class="modal-header" style="justify-content: center; align-items: center;">
    <h4 class="modal-title" id="modal-basic-title"><strong>REGISTRO DE DOCTOR</strong></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registrarDoctor" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Primer Nombre</mat-label>
              <input matInput placeholder="Ingresa tu primer nombre" type="text" name="firstName"
                formControlName="firstName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.firstName.errors }" required>
              <div *ngIf="submittedPaciente && formularioDoctor.firstName.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.firstName.errors.required">Debe escribir el primer nombre.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Segundo Nombre</mat-label>
              <input matInput placeholder="Ingresa tu segundo nombre" formControlName="secondName" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Primer Apellido</mat-label>
              <input matInput placeholder="Ingresa tu primer apellido" type="text" name="firstLastName"
                formControlName="firstLastName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.firstLastName.errors }" required /><br>
              <div *ngIf="submittedPaciente && formularioDoctor.firstLastName.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.firstLastName.errors.required">Debe escribir el primer apellido.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Segundo Apellido</mat-label>
              <input matInput placeholder="Ingresa tu segundo apellido" type="text" name="secondLastName"
                formControlName="secondLastName"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.secondLastName.errors }"
                required /><br>
              <div *ngIf="submittedPaciente && formularioDoctor.secondLastName.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.secondLastName.errors.required">Debe escribir el segundo apellido.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>

            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field hintLabel="La identidad debe tener 13 caracteres." class="example-full-width"
        appearance="outline">
        <mat-label>Identidad</mat-label>
        <input matInput placeholder="Ingresa tu identidad" type="text" name="hn_id" maxlength="13"
          formControlName="hn_id" [ngClass]="{ 'is-invalid':formularioDoctor.hn_id.errors }" required /><br>
        <div *ngIf="formularioDoctor.hn_id.errors" class="invalid-feedback">
          <div *ngIf="formularioDoctor.hn_id.errors.minlength">La identidad debe tener 13 caracteres.</div>
          <div *ngIf="formularioDoctor.hn_id.errors.maxlength">La identidad no debe tener mas de 13 caracteres.</div>
        </div>
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email" placeholder="Ejem. sofia@gmail.com" formControlName="email"
                style="width: 28em;" class="form-control" [ngClass]="{ 'is-invalid':formularioDoctor.email.errors }"
                required />
              <div *ngIf="formularioDoctor.email.errors" class="invalid-feedback">
                <mat-error *ngIf="formularioDoctor.email.errors.required">El correo no puede estar en blanco.
                </mat-error>

                <div *ngIf="formularioDoctor.email.errors.email">Ingrese un correo válido.</div>
              </div>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field hintLabel="Minimo 8 caracteres o más" class="example-full-width input" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Escriba su contraseña" type="password" style="width: 29em;"
                formControlName="password" class="form-control" value=""
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.password.errors }" minlength="8"
                required [type]="hide ? 'password' : 'text'">
              <div *ngIf="submittedPaciente && formularioDoctor.password.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.password.errors.required">Escriba la contraseña</div>
                <div *ngIf="formularioDoctor.password.errors.minlength">Minimo 8 caracteres o más.
                </div>
              </div>
              <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                style="cursor: pointer;" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>

          </td>
        </tr>
      </table>


      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field hintLabel="El telefono debe tener 8 caracteres." class="example-full-width"
              appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Ingresa tu telefono" type="tel" name="phone" maxlength="8"
                formControlName="phone" [ngClass]="{ 'is-invalid':formularioDoctor.phone.errors }" required /><br>
              <div *ngIf="formularioDoctor.phone.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.phone.errors.minlength">Debe tener 8 caracteres.</div>
              </div>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

          </td>
          <td>

            <mat-form-field class="example-full-width input" appearance="outline">
              <mat-label>Adjuntar Certificado</mat-label>
              <input matInput type="text" name="master_degree" formControlName="master_degree"
                [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.master_degree.errors }" required /><br>
              <div *ngIf="submittedPaciente && formularioDoctor.master_degree.errors" class="invalid-feedback">
                <div *ngIf="formularioDoctor.master_degree.errors.required">Debe adjuntar el documento.</div>
              </div>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

          </td>
        </tr>
      </table>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Departamento</mat-label>
        <select matNativeControl required formControlName="department">
          <option value="Francisco Morazan">Francisco Morazán</option>
          <option value="Olancho">Olancho</option>
          <option value="La Paz">La Paz</option>
        </select>
      </mat-form-field>

      <span fxLayoutAlign="center center">Seleccione la modalidad</span>
      <section class="example-section example-full-width" fxLayoutAlign="center center">
        <mat-checkbox class="example-margin" class="ml-4" formControlName="medAppointment_modality_inHouse">Casa
        </mat-checkbox>
        <mat-checkbox class="example-margin" class="ml-4" formControlName="medAppointment_modality_inClinic">Clinica
        </mat-checkbox>
        <mat-checkbox class="example-margin" class="ml-4" formControlName="medAppointment_modality_online">En línea</mat-checkbox>
      </section>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Agrega una descripcion</mat-label>
        <textarea matInput formControlName="bibliography"></textarea>
      </mat-form-field>

      <div class="
          col col-12 col-xs-12 col-sm-12
          align-items-center align-content-center
        " style="margin-top: 2em;">
        <mat-checkbox class="example-margin" name="terminos"
          [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.terminos.errors }" formControlName="terminos"
          required>Acepto los
          <a (click)="open(terminos)"><strong>Términos y Condiciones de Uso</strong></a><br>
          <div *ngIf="submittedPaciente && formularioDoctor.terminos.errors" class="invalid-feedback">
            <div *ngIf="formularioDoctor.terminos.errors.required">Debe aceptar los terminos.</div>
          </div>
        </mat-checkbox>

      </div>
      <div class="
      col col-12 col-xs-12 col-sm-12
      align-items-center align-content-center
    ">
        <mat-checkbox class="example-margin" name="politicas"
          [ngClass]="{ 'is-invalid': submittedPaciente && formularioDoctor.politicas.errors }"
          formControlName="politicas" required>Acepto las
          <a (click)="open(politicas)"><strong>Politicas</strong></a><br>
          <div *ngIf="submittedPaciente && formularioDoctor.politicas.errors" class="invalid-feedback">
            <div *ngIf="formularioDoctor.politicas.errors.required">Debe aceptar las politicas.</div>
          </div>
        </mat-checkbox>
      </div>
      <div class="col col-12 align-content-center">
        <button id="boton" mat-raised-button color="primary" type="button" [disabled]=registrarDoctor.invalid
          (click)="registrarDoctores()">
          <mat-icon>send</mat-icon> Registrar Doctor
        </button>
      </div>
    </form>
  </div>

</ng-template>

<!--FIN REGISTRO DE PACIENTES-->


<!--MODALES TERMINOS Y CONDICIONES-->
<ng-template #terminos let-modal>
  <div class="modal-header  align-items-center align-content-center" style="text-align: center">
    <h2 class="modal-title" id="modal-basic-title" style="text-align: center !important; font-weight: 100">
      <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
    </h2>

    <mat-icon matSuffix style="cursor: pointer;" aria-label="Close" (click)="modal.dismiss('Cross click')">close
    </mat-icon>
    <!--
    <button type="button" class="close close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  -->
  </div>
  <div class="modal-body">
    <p>&nbsp;</p>
    <p><strong>INFORMACIÓN RELEVANTE</strong></p>
    <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los
      siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra
      de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente
      documento. Todas los productos &nbsp;que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas,
      enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y
      Condiciones.
  </div>
</ng-template>

<!--FIN MODAL TERMINOS Y CONDICIONES-->

<!--INICIO MODAL DE POLITICAS-->
<ng-template #politicas let-modal>
  <div class="modal-header  align-items-center align-content-center" style="text-align: center">
    <h2 class="modal-title" id="modal-basic-title" style="text-align: center !important; font-weight: 100">
      <h2 style="text-align: center;"><strong>Politicas</strong></h2>
    </h2>

    <mat-icon matSuffix style="cursor: pointer;" aria-label="Close" (click)="modal.dismiss('Cross click')">close
    </mat-icon>
  </div>
  <div class="modal-body">
    <p><strong>USO NO AUTORIZADO</strong></p>
    <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no
      puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y
      ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
    <p><strong>PROPIEDAD</strong></p>
    <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin
      modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se
      especifique lo contrario, nuestros productos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o
      implícita. En ningún esta compañía será &nbsp;responsables de ningún daño incluyendo, pero no limitado a, daños
      directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la
      imposibilidad de utilizar nuestros productos.</p>
    <p><strong>POLÍTICA DE REEMBOLSO Y GARANTÍA</strong></p>
    <p>En el caso de productos que sean&nbsp; mercancías irrevocables no-tangibles, no realizamos reembolsos después de
      que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. &nbsp;Le pedimos que lea
      cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta
      al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será
      especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará
      efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso
      indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones
      normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto
      incluye:</p>
    <p>– De acuerdo a las especificaciones técnicas indicadas para cada producto.<br>– En condiciones ambientales acorde
      con las especificaciones indicadas por el fabricante.<br>– En uso específico para la función con que fue diseñado
      de fábrica.<br>– En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.
    </p>
    <p><strong>COMPROBACIÓN ANTIFRAUDE</strong></p>
    <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más
      tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
    <p><strong>PRIVACIDAD</strong></p>
    <p>Este www.zonamedica.com garantiza que la información personal que usted envía cuenta con la seguridad necesaria.
      Los datos
      ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros,
      salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.</p>
    <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al
      momento de crear su cuenta.</p>
    <p>Zona Medica reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
  </div>
</ng-template>

<!--FIN MODAL POLITICAS-->
