table {
  width: 100%;
}

#boton-agregar{
  right: 45px;
  bottom: 45px;
  left: auto;
  position: absolute;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  }

  .example-full-width {
  width: 100%;
  }

  td {
  padding-right: 8px;
  }

