
<mat-toolbar color="primary" class="mat-elevation-z8">

  <span><img src="../assets/img/up (9).svg" style="width:50px; height: 50px;" routerLink="/inicio-usuario"></span>

   <div class="spacer"></div>

   <button mat-button class="menu-buttons" routerLink="/admin/listar-pacientes">
    <mat-icon class="iconos">home</mat-icon>
    <span>Inicio</span>
  </button>

  <mat-list-item [matMenuTriggerFor]="menuCategorias">
    <button mat-button class="menu-buttons">
      <mat-icon class="iconos">arrow_drop_down</mat-icon>
      <span>Categorias Medicas</span>
    </button>
  </mat-list-item>
  <mat-menu #menuCategorias="matMenu">
    <button mat-menu-item class="menu-buttons">Agregar</button>
    <button mat-menu-item class="menu-buttons">Eliminar</button>
    <button mat-menu-item class="menu-buttons">Actualizar</button>
  </mat-menu>

  <mat-list-item [matMenuTriggerFor]="menuPatologias">
    <button mat-button class="menu-buttons">
      <mat-icon class="iconos">arrow_drop_down</mat-icon>
      <span>Patologias</span>
    </button>
  </mat-list-item>
  <mat-menu #menuPatologias="matMenu">
    <button mat-menu-item class="menu-buttons">Agregar</button>
    <button mat-menu-item class="menu-buttons">Eliminar</button>
    <button mat-menu-item class="menu-buttons">Actualizar</button>
  </mat-menu>

  <button mat-button class="menu-buttons" routerLink="/admin/listar-doctores">
    <mat-icon class="iconos">medication</mat-icon>
    <span>Doctores</span>
  </button>

  <button mat-button class="menu-buttons" routerLink="/admin/listar-pacientes">
    <mat-icon class="iconos">groups</mat-icon>
    <span>Pacientes</span>
  </button>

  <a href="/admin/listar-pacientes"><img src="../../../assets/img/profile-admin.svg" style="width:40px; height:40px; border-color: black; border-width: 2px; border-radius: 50%;"></a>

  <mat-list-item [matMenuTriggerFor]="menus">
    <button mat-button class="menu-buttons">
      <mat-icon class="iconos">arrow_drop_down</mat-icon>
      <span>Nombre Apellido</span>
    </button>
  </mat-list-item>
  <mat-menu #menus="matMenu">
    <button mat-button class="menu-buttons">
      <mat-icon class="iconos">edit</mat-icon>
      <span>Editar Perfil</span>
    </button><br>
    <button mat-button class="menu-buttons">
      <mat-icon class="iconos">logout</mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
  <!--<a mat-button routerLink="/">Sofia Videa</a>
  -->
</mat-toolbar>
