
<div id="acerca-nosotros" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-6">
                <img src="../assets/img/rafiki.png" alt="" style="width:38em">
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                <h2>
                    Acerca de Nosotros
                </h2>
                <p>
                    Zona medica nace con la idea de digitalizar el área de salud del país, con la idea de hacer más simple la búsqueda de profesionales de la salud desde cualquier lugar con acceso a internet.
                </p>
                <p>
                    La digitalización de este mercado logra la facilidad de encontrar un medico de alguna especialidad especifica cerca del área donde uno se encuentre y de tal manera de poder elegir el mejor profesional. Siempre contando con los mejores profesionales y atención.
                </p>
                <p>

                    El cambio que genera Zona Medica es el ahorro del tiempo de manera de lograr agendar citas médicas directamente con el profesional de salud.
                </p>
            </div>
        </div>
        <!--
        <div class="h6"><h6 class="ml-auto">Conoce nuestro equipo</h6><h6 class="go ml-auto "><i>GO!</i></h6></div>-->
    </div>

</div>
