<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col col-12 align-content-center align-items-center">
                <span>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="far fa-envelope"></i>
                    <i class="fas fa-paper-plane"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-whatsapp"></i>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col col-6 mr-auto">
                <span>Todos los derechos reservados</span>
            </div>
            <div class="col col-6 politicas ml-auto">
                <span>Políticas de privacidad</span>
                <span>Legal</span>
                <span>Cookies</span>
            </div>
        </div>
    </div>
</div>
