<div id="funcionalidades" class="container-fluid fondo">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/AgendaImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Agenda</h2>
                                <p>Los pacientes logran agendar citas con el personal médico.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/CalendarioImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Calendario</h2>
                                <p>Sirve como agenda para el personal médico para ver las citas programadas.
                                    Además, facilita a los pacientes ver los horarios que están disponibles para agendar cita.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/HistorialImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Historial Clínico</h2>
                                <p>Se ira creando un historial médico para el paciente, de esta forma los médicos podrán tener acceso a este cuando se requiera.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/EstadoImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Estado</h2>
                                <p>Al ofrecer citas en distintas modalidades (en línea, a domicilio y en el espacio clínico del profesional de salud), esta característica le permite al paciente saber si hay disponibilidad o no de dicha modalidad para un doctor en específico.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/UbicaciónImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Ubicación</h2>
                                <p>Con los filtros por ciudad, los pacientes logran saber si un médico de una especialidad específica está cerca de su área.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/CalificaciónImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>calificación</h2>
                                <p>El personal médico trendrá calificaciones dadas por los pacientes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/VideoChatImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Video chat</h2>
                                <p>La funcionalidad de Video Chat hace posible las citas médicas en línea.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 container-fluid car-con">
                        <div class="row">
                            <img src="../assets/img/PagoImagen.png" class="d-inline col col-6" alt="...">
                            <div class="d-inline col col-6">
                                <h2>Pago</h2>
                                <p>Porcentaje por cita agendada o realizada por la aplicación.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</div>
