.container-fluid{
    background: linear-gradient(180deg, #EEF5FB 0%, #BFD9F0 100%);
}
.container{
    padding:5em;
}
.col-azul{
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    background: rgba(164, 209, 235, 0.8);
    border: 2px solid #F3F3F3;
    border-radius: 30px;
    padding:3em;
    text-align:center;
}
h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    text-align: center;

    color: #FFFFFF;
}
.imagen{
    width:7em;
    height:7em;
    position:absolute;
    float:center;
    margin-left: 25em;
}
@media screen and ( max-width:980px) {
    .imagen{
        margin-left: 15em;
    }
}
@media screen and ( max-width:750px) {
    .imagen{
        margin-left: -2em;
    }
    img, .imagen{
        display:inline-flex;
    }
}
@media screen and ( max-width:500px) {
    .imagen{
        margin-left: -5;
    }
    img, .imagen{
        display:inline-flex;
    }
}

img{
    display: inline-flex;
}
img{
    float:left;
}
input, select{
    width:100%;
    border:0;
    margin:0.5em;
    padding:0.5em;
    font-size:1em;
}
span input{
    display: inline-flex;
    float:right;
    width:25px;
}
span{
    display:block;
    float:left
}
button{
    background: #6C63FF;
    box-shadow: 0px 4px 4px rgba(230, 221, 221, 0.25);
    border-radius: 30px;
    padding:0.5em;
    color:white;
    font-size:2em;
}

.input, .textarea{
  background:#F4F1F1;
  padding:0.5em;
  margin-top:1em;
  font-size:10px;
  width:80%;
  align-self: center;
  color: #000000
}

.contenedor{
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


